spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:mysql://localhost:3306/HomestayBooking?createDatabaseIfNotExist=true
    username: root
    password:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  # Táº®T Flyway
  flyway:
    enabled: false

server:
  port: 8081

jwt:
  secretKey: QWERTYUIOPasdfghJKLzxcvbnm1234567890QWERTYUIOPasdfgh
  accessTokenExpiration: 1500000
  refreshTokenExpiration: 7

# Actuator endpoints
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always