spring:
  datasource:
    url: jdbc:mysql://localhost:3306/HomestayBooking?createDatabaseIfNotExist=true
    username: root
    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
server:
  port: 8081

jwt:
  secretKey: QWERTYUIOPasdfghJKLzxcvbnm1234567890QWERTYUIOPasdfgh
  accessTokenExpiration: 1500000
  refreshTokenExpiration: 7

